@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0px;
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 15px;
	background-color: #f1f1f1;
}

#container {
	width: 75%;
	margin: auto;
	margin-top: 80px;
}

button {
	margin-bottom: 35px;
	margin-left: 20px;

	text-align: center;

	border: 1px solid #d1d1d1;
	/* border-radius: 3px; */

	box-shadow: 2px 2px 3px black;

	cursor: pointer;
	outline: none;
	user-select: none;

	width: 80px;
	height: 35px;
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
}

.form {
	margin-top: 10px;
}

.form div {
	display: flex;
	justify-content: center;
}

/* .tables {
	display: flex;
	justify-content: center;
} */

.tables table {
	border: 1px solid black;
	border-radius: 5px;
	width: 50%;
	border-spacing: 0em;

	margin-bottom: 40px;
}

.tables table td {
	user-select: none;

	min-width: 33.333%;
	max-width: 50%;
	height: 30px;

	border: 0.5px solid black;

	text-align: center;
}

.tables table td:hover {
	cursor: default;
	background: rgba(0, 0, 0, 0.1);
}
